.tag {
    display:flex;
    align-items: center;
    justify-content: center;
    border: var(--spacer-xxs) solid var(--color-neutral-900);
    border-radius: var(--border-radius-m);
    background-color: var(--color-neutral-100);
    transition: all 140ms cubic-bezier(.25, .46, .45, .94);
    color: var(--color-neutral-900);
    font-size: var(--font-size-body-small);
    line-height: var(--line-height-body-small);
    height: calc(var(--spacer-l));
    max-width: calc(var(--spacer-xl)*4);
    text-align: center;
}