.menu {
  font-size: var(--font-size-body);
  width: 100%;
  border: var(--spacer-xxs) solid var(--color-neutral-900);
}
.menuHeaderList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.menuHeaderList > * {
  padding: var(--spacer-m) 3vw;
}
.menuHeaderList .primaryAction {
  color: var(--color-neutral-100);
  background-color: var(--color-neutral-900);
}

.menuContent {
  display: none;
  position: absolute;
  max-width: calc(var(--spacer-xxl)*3);
  font-size: var(--font-size-body-small);
  background-color: var(--color-neutral-100);
  z-index: var(--z-menu);
  border-radius: var(--border-radius-s);
}
.menuContent a {
  color: var(--color-text);
  padding: var(--spacer-xxs) var(--spacer-s);
  text-decoration: none;
  display: block;
}

.menuContent a:hover {
  color: var(--color-neutral-100);  
  background-color: var(--color-pink-500);
}

.menuHeaderList div:hover .menuContent{
  display: block;
}