.menu {
  font-size: var(--font-size-body);
  width: 100%;
  border: var(--spacer-xxs) solid var(--color-neutral-900);
}
.menuHeaderList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.menuHeaderList > * {
  padding: var(--spacer-m) 3vw;
}
.menuHeaderList .primaryAction {
  color: var(--color-neutral-100);
  background-color: var(--color-neutral-900);
}

.menuContent {
  display: none;
  position: absolute;
  min-width: 200px;
  background-color: #f1f1f1;
  z-index: var(--z-menu);
}
.menuContent a {
  color: var(--color-text);
  padding: var(--spacer-s) var(--spacer-m);
  text-decoration: none;
  display: block;
}

.menuHeaderList div:hover .menuContent{
  display: block;
}