.menu {
  position: relative;
  font-size: var(--font-size-body);
  width: 100%;
  border: var(--spacer-xxs) solid var(--color-neutral-900);
  background-color: var(--color-neutral-100);
}
.menuHeaderList,
.menuHeaderListActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menuHeaderList .home {
  padding: var(--spacer-m) 3vw;
}

.menuHeaderListActions > * {
  padding: var(--spacer-m) 3vw;
}

.menuHeaderListActions .primaryAction {
  color: var(--color-neutral-100);
  background-color: var(--color-neutral-900);
}

.menuHeaderListActions > *:hover {
  color: var(--color-neutral-100);
  background-color: var(--color-pink-300);
}

.menuContent::before {
  padding: 100px;
}

.menuContent {
  display: none;
  position: absolute;
  border: var(--spacer-xs) solid var(--color-neutral-900);
  margin: var(--spacer-m) calc(-8 * var(--spacer-m));
  max-width: calc(var(--spacer-xxl) * 3);
  font-size: var(--font-size-body-small);
  background-color: var(--color-neutral-100);
  z-index: var(--z-menu);
  border-radius: var(--border-radius-s);
}
.menuContent a {
  color: var(--color-text);
  padding: var(--spacer-xxs) var(--spacer-s);
  text-decoration: none;
  display: block;
}

.menuContent a:hover {
  color: var(--color-neutral-100);
  background-color: var(--color-pink-300);
  border-radius: calc(var(--border-radius-xs) * 0.75);
}

.menuHeaderListActions div:hover .menuContent {
  display: block;
}
