.group {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--spacer-xl);
  row-gap: var(--spacer-m);
}

.group > * {
  flex: 1;
  min-width: 300px;
}

.spacingnone {
  column-gap: 0;
  row-gap: 0;
}

.spacingsmall > * {
  margin: var(--spacer-s);
}

.spacingmedium > * {
  margin: var(--spacer-m);
}

.spacinglarge > * {
  margin: var(--spacer-l);
}

.spacingextralarge > * {
  margin: var(--spacer-xl);
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .group {
    column-gap: 0;
  }
}
