.layoutWrapper {
  display: flex;
  flex-direction: column;
}

.layout {
  position: static;
}

.isPadded {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacer-xxxl);
}


@media only screen and (max-width: 900px) {
  .isPadded {
    padding: 0 var(--spacer-l);
  }
}