em,
p {
  margin-bottom: var(--spacer-m);
}

.page {
  text-align: center;
}

.landingTextContainer, .landingImageContainer{
  height: 700px;
  width: 100%;
  background-color: var(--color-yellow-300);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacer-xxl);
  text-align: left;
  border: var(--spacer-xxs) solid var(--color-neutral-900);
  border-bottom: var(--spacer-xxs)/2 solid var(--color-neutral-900);
}

.landingImageContainer{
  padding: var(--spacer-xl);
  background-color: var(--color-teal-200);
}


.hiya {
  text-align: center;
}

.hiya div:first-child {
  margin: 0 calc(var(--spacer-xxl) * 2);
  margin-bottom: var(--spacer-l);
}

.selectedProjects {
  padding-bottom: var(--spacer-xl);
}

.selectedProjects h2 {
  text-align: center;
}

.workExperiences {
  text-align: center;
}

.workDescription {
  margin: var(--spacer-l) calc(var(--spacer-xxl) * 2);
}

.infoRectangleWrapper > * {
  min-width: calc(var(--spacer-xxl) * 5);
  border-top: calc(var(--spacer-xxs)) solid var(--color-neutral-900);
}

.infoRectangle {
  width: 100%;
  height: 18rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-pink-700);
  border: calc(var(--spacer-xxs))  solid var(--color-neutral-900);
  border-top: calc(var(--spacer-xxs)/2) solid var(--color-neutral-900);
}

@media only screen and (max-width: 1024px) {
  .landingTextContainer {
    padding: var(--spacer-l);
  }

  .hiya div:first-child,
  .workDescription{
    margin: 0 calc(var(--spacer-xl));
  }

  img {
    margin: auto;
  }
}