em,
p {
  margin-bottom: var(--spacer-m);
}

.page {
  text-align: center;
}

.landingTextContainer,
.landingImageContainer {
  height: 700px;
  width: 100%;
  background-color: var(--color-yellow-300);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacer-xxl);
  text-align: left;
  border: var(--spacer-xxs) solid var(--color-neutral-900);
  border-bottom: var(--spacer-xxs) / 2 solid var(--color-neutral-900);
}

.landingImageContainer {
  padding: var(--spacer-xl);
  background-color: var(--color-teal-200);
}

.hiya {
  text-align: center;
}

.hiya div:first-child {
  margin: 0 calc(var(--spacer-xxl) * 1.5);
  margin-bottom: var(--spacer-l);
}

.selectedProjects {
  padding-bottom: var(--spacer-xl);
}

.selectedProjects h2 {
  text-align: center;
}

.workExperiences {
  text-align: center;
}

.workDescription {
  margin: var(--spacer-l) calc(var(--spacer-xxl) * 2);
}

.infoRectangleWrapper > * {
  min-height: calc(var(--spacer-xxl) * 4);
  border-top: calc(var(--spacer-xxs)) solid var(--color-neutral-900);
}

.infoRectangle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-pink-300);
  border: calc(var(--spacer-xxs)) solid var(--color-neutral-900);
  border-top: calc(var(--spacer-xxs) / 2) solid var(--color-neutral-900);
  padding: var(--spacer-l);
}

.infoRectangle .skillTags {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.infoRectangle .skillTags > * {
  margin: 0 var(--spacer-s);
  padding: var(--spacer-m);
}

.infoRectangle p {
  font-size: calc(var(--font-size-body) * 0.85);
}

/* Extra Small, and Small devices (phones, tablets and large phones, 320px and up) */
@media only screen and (min-width: 320px) {
  .landingTextContainer {
    padding: var(--spacer-l);
  }

  .hiya div:first-child {
    margin: 0 calc(var(--spacer-xl));
  }

  img {
    margin: auto;
  }
  .infoRectangleWrapper > * {
    min-width: calc(var(--spacer-xxl) * 3);
  }
  .workDescription {
    margin: calc(var(--spacer-xl));
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .infoRectangleWrapper > * {
    min-width: calc(var(--spacer-xxl) * 3);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .infoRectangleWrapper > * {
    min-width: calc(var(--spacer-xxl) * 3);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .infoRectangleWrapper > * {
    min-width: calc(var(--spacer-xxl) * 4);
  }
}
