.portfolioPost {
  padding: var(--spacer-xl) var(--spacer-xxxl);
  border: var(--spacer-xxs) solid var(--color-neutral-900);
  border-top: var(--spacer-xxs) / 2 solid var(--color-neutral-900);
  background-color: var(--color-yellow-100);
}

.portfolioPost div:has(img) {
  width: 100%;
}

.portfolioPost p + p {
  padding-bottom: var(--spacer-s);
}

.portfolioPost div:has(image) {
  padding: 0 var(--spacer-l);
}

.portfolioPost img {
  margin: auto;
}

@media only screen and (max-width: 1024px) {
  .portfolioPost {
    padding: var(--spacer-l);
  }

  .portfolioPost h1 {
    font-size: calc(var(--font-size-h1) * 0.75);
  }

  .portfolioPost h2 {
    font-size: calc(var(--font-size-h2) * 0.75);
  }

  .portfolioPost h3 {
    font-size: calc(var(--font-size-h3) * 0.75);
  }

  img {
    margin: auto;
  }
}
