.portfolioPost {
  padding: var(--spacer-l) var(--spacer-xl);
  border: var(--spacer-xxs) solid var(--tk-dlite-semantic-color-text-primary);
  border-top: var(--spacer-xxs) / 2 solid var(--tk-dlite-semantic-color-text-primary);
  background-color: var(--tk-dlite-semantic-color-surface-sunken);
}

.breadcrumbs {
  font-size: var(--tk-dlite-semantic-typography-size-200);
  margin-bottom: var(--spacer-l);
}

.breadcrumbs a {
  color: var(--tk-dlite-semantic-color-text-secondary);
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs span:last-child {
  color: var(--tk-dlite-semantic-color-text-primary);
  font-weight: var(--tk-dlite-primitive-fontWeight-medium);
}

.externalLinks {
  display: flex;
  gap: var(--spacer-l);
  margin: var(--spacer-m) 0 var(--spacer-l);
}

.externalLinks a {
  font-weight: var(--tk-dlite-primitive-fontWeight-medium);
  text-decoration: none;
  color: var(--tk-dlite-semantic-color-text-primary);
}

.externalLinks a:hover {
  text-decoration: underline;
}

.content {
  margin-top: var(--spacer-l);
}

.portfolioPost div:has(img) {
  width: 100%;
}

.portfolioPost p + p {
  padding-bottom: var(--spacer-s);
}

.portfolioPost div:has(image) {
  padding: 0 var(--spacer-l);
}

.portfolioPost img {
  margin: auto;
}

@media only screen and (max-width: 1024px) {
  .portfolioPost {
    padding: var(--spacer-l);
  }

  .portfolioPost h1 {
    font-size: calc(var(--font-size-h1) * 0.75);
  }

  .portfolioPost h2 {
    font-size: calc(var(--font-size-h2) * 0.75);
  }

  .portfolioPost h3 {
    font-size: calc(var(--font-size-h3) * 0.75);
  }

  img {
    margin: auto;
  }
}
