.breadcrumbs {
  font-size: var(--tk-dlite-semantic-typography-size-200);
  margin-bottom: var(--spacer-l);
}

.breadcrumbs a {
  color: var(--tk-dlite-semantic-color-text-secondary);
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs span:last-child {
  color: var(--tk-dlite-semantic-color-text-primary);
  font-weight: var(--tk-dlite-primitive-fontWeight-medium);
}

.categoryDescription {
  margin-bottom: var(--spacer-l);
  margin-left: auto;
  margin-right: auto;
}
