@import "./reset.css";
@import "./fonts.css";
@import "./variables.css";
@import "./themes/themes.css";
@import "../motion/animations.css";

html {
  scroll-behavior: smooth;
  margin: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--tk-dlite-semantic-typography-font-heading), helvetica, sans-serif;
  font-weight: var(--tk-dlite-primitive-fontWeight-regular);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  color: var(--tk-dlite-semantic-color-text-primary);
  margin: 0;
  height: 100%;
  min-height: 100%;
  background-color: var(--tk-dlite-semantic-color-background);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

h1 {
  font-weight: var(--tk-dlite-primitive-fontWeight-medium);
  font-size: var(--font-size-h1);
  line-height: 1;
  margin-bottom: var(--spacer-l);
}

h2 {
  font-weight: var(--tk-dlite-primitive-fontWeight-medium);
  font-size: var(--font-size-h2);
  line-height: 1;
  padding: var(--spacer-l) 0 var(--spacer-l) 0;
}

h3 {
  font-weight: var(--tk-dlite-primitive-fontWeight-medium);
  font-size: var(--font-size-h3);
  line-height: 1;
  padding: var(--spacer-m) 0 var(--spacer-m) 0;
}

a {
  color: var(--tk-dlite-semantic-color-action-primary);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: var(--tk-dlite-semantic-color-action-primary);
  transition: color var(--duration-slow) var(--ease-default);
  text-decoration: none;
}
