.section {
  padding-top: var(--spacer-m);
  padding-bottom: var(--spacer-m);
}

.content {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--spacer-xl);
  padding-right: var(--spacer-xl);
}

.noHorizontalPadding {
  padding-left: 0;
  padding-right: 0;
}

.noVerticalPadding {
  padding-top: 0;
  padding-bottom: 0;
}

.altBG {
  background-color: var(--color-neutral-100);
}

.bottomBorder {
    border-bottom: var(--spacer-xs) solid var(--color-neutral-900);
}

@media only screen and (max-width: 900px) {
  .content {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--spacer-m);
    padding-right: var(--spacer-m);
  }
  .noHorizontalPadding {
    padding-left: 0;
    padding-right: 0;
  }
}
