.footer {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    font-size: var(--font-size-body-small);
}

.footer > * {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.social {
    flex-direction: row;
    align-items: center;
    column-gap: var(--spacer-m);
}