.footer {
  display: flex;
  flex-direction: column;
  padding: var(--spacer-xl);
  row-gap: var(--spacer-xl);
  color: var(--tk-dlite-semantic-color-surface-base);
  background-color: var(--tk-dlite-semantic-color-text-primary);
}

.contactBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: var(--tk-dlite-semantic-typography-size-200);
}

.contactBar > * {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 400px;
  color: var(--tk-dlite-semantic-color-surface-base);
}

.social {
  flex-direction: row;
  align-items: center;
  column-gap: var(--spacer-m);
}

.credit {
  text-align: center;
  font-size: var(--tk-dlite-semantic-typography-size-200);
  color: var(--tk-dlite-semantic-color-text-secondary);
}
