.s {
  max-height: 50px;
}

.m {
  max-height: 100px;
}

.ml {
  max-height: 150px;
}

.l {
  max-height: 200px;
}

.xl {
  max-height: 300px;
}

.xxl {
  max-height: 500px;
}

.imageContainer img {
  object-fit: contain;
  border-radius: var(--border-radius-s);
}

.centered {
  margin: auto;
}
